<div id="login">
	<h2>Login</h2>

	<%= form_tag(sessions_path, method: "post") do %>
		<%= label_tag(:email, "Email") %>
		<%= email_field(:email, :user) %>
		<%= label_tag(:password, "Password") %>
		<%= password_field_tag(:password) %>
		<%= submit_tag("Login") %>
	<% end %>
</div>
<div id="sign-up">
	<h2>Sign Up</h2>
	<%= form_tag("/sessions", method: "post") do %>
		<%= label_tag(:name, "Name") %>
  	<%= text_field_tag(:name) %>
		<%= label_tag(:email, "Email") %>
		<%= email_field(:email, :user) %>
		<%= label_tag(:password, "Password") %>
		<%= password_field_tag(:password) %>
		<%= submit_tag("Login") %>
	<% end %>
</div>