<h1 class='headline'> Styling <%= @client.full_name %> </h1>

<button><%= link_to "Back to your StyleList", stylist_path(@stylist) %></button>

<div class="trunk-number">
	<% if @trunks %>
		<%= @trunks.count %>
	<% end %>
</div>

<div class="dollar-amount">
	<% if @sales %>
		<h1> <%= number_to_currency(@sales) %></h1>
	<% end %>
</div>

<div class="percentage">
	<% if @salesPercentage %>
		<%= @salesPercentage %> %
	<% end %>
</div>

<div class="item-list">
	<h2>Sold Items</h2>
	<% if @soldItems %>
		<% @soldItems.each do |soldItem| %>
			<li> <%= soldItem.item.brand %> <%= soldItem.item.clothing_type %></li>
		<% end %>
	<% end %>
</div>

<div class="item-list">
	<h2>Unsold Items</h2>
	<% if @unsoldItems %>
		<% @unsoldItems.each do |unsoldItem| %>
			<li> <%= unsoldItem.item.brand %> <%= unsoldItem.item.clothing_type %></li>
		<% end %>
	<% end %>
</div>
