<!DOCTYPE html>
<html>
<head>
  <title>StyleList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400,700' %>
</head>
<body>
	<header>
		<h1>StyleList</h1>
	</header>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
